.contoh {
    width: 200px;
    height: 200px;
    background-color: red;
}
.contohbox{
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    margin: 0 40px 40px 0;
    border:1px;
    color:yellow;
    border-radius:3px;
}
.element {
    display: inline-block;
    background-color: #0074d9;
    height: 100px;
    width: 100px;
    font-size: 1px;
    padding: 1px;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    animation: roll 3s infinite;
    transform: rotate(30deg);
    opacity: .7;
  }
  
  @keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
#main {margin-left: 4px;}

#leftsidebar {
    float: none;
    width: auto;
}

#menulist {
    margin: 0;
    padding: 0;
}

.menuitem {
    background: #CDF0F6;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
}

@media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
}
  